<div class = "container">
  <div class="col-4 offset-8 mt-3 mb-3">
    <input [(ngModel)]="phrase" type="text" class= "form-control">
  </div>
  <div class="row">
    <div class="col-12">
      <table class= "table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Super Power</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroList$ | async| filter: 'name' :phrase ">

            <td>{{hero.id}}</td>
            <td>{{hero.name}}</td>
            <td>{{hero.superPower}}</td>
            <td>{{hero.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
